@charset "UTF-8";
@font-face {
  font-family: "Noto Sans JP", sans-serif;
  src: url("../../assets/fonts/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Lato", sans-serif;
  src: url("../../assets/fonts/Lato/Lato-Bold.ttf") format("truetype"), url("../../assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
}
/*regular*/
/*Medium*/
/*Bold*/
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.wrapper {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  width: 100vw;
}

.about__title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 3.73vw;
  font-size: 3.73vw;
  text-transform: uppercase;
}
.about__lead {
  font-size: 6.4vw;
  font-weight: 500;
  line-height: 9.6vw;
}
.about__text {
  font-weight: 400;
  font-size: 3.73vw;
  line-height: 6.72vw;
  margin-top: 3.73vw;
  letter-spacing: 0.027vw;
}
.about__title--top-margin {
  margin-top: 22.9vw;
}
.about__images--top-margin {
  margin-top: 16vw;
}
.about__title--bottom-margin {
  margin-bottom: 4.27vw;
}
.about__images {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10.1vw;
}
.about__figure--small {
  text-align: start;
}
.about__figure--large {
  text-align: end;
}
.about__image--small {
  width: 65.6vw;
  height: 48.8vw;
}
.about__image--large {
  width: 65.6vw;
  height: 87.2vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__emphasis-text {
  font-family: "Lato", sans-serif;
  font-size: 23.5vw;
  font-weight: 700;
  text-wrap: nowrap;
  overflow-x: scroll;
}

.main {
  font-family: "Noto Sans JP", sans-serif;
  color: #222222;
  transition: filter 1s ease-out;
}

@-webkit-keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 767px) {
  .is-style-about > div:nth-child(2) > h2 {
    margin-left: 10.21vw !important;
  }
}
@media screen and (min-width: 767px) {
  .is-style-about > div:nth-child(2) > h2.has-text-align-center {
    margin-left: 0 !important;
  }
}
@media screen and (min-width: 767px) {
  .is-style-about > div:nth-child(3) {
    margin-left: 10.21vw !important;
  }
}
.is-style-about > div:nth-child(3).is-style-section__lead-area-center {
  height: 19.2vw;
  overflow: hidden;
  margin-top: 4.27vw !important;
}
@media screen and (min-width: 767px) {
  .is-style-about > div:nth-child(3).is-style-section__lead-area-center {
    height: clamp(0.625rem, 3.33vw, 3rem) !important;
    margin-left: 0 !important;
    margin-top: 1.39vw !important;
  }
}
.is-style-about__textarea-bottom > .is-style-section__lead-area {
  height: 9.6vw !important;
}
@media screen and (min-width: 767px) {
  .is-style-about__textarea-bottom > .is-style-section__lead-area {
    height: clamp(0.625rem, 3.33vw, 3rem) !important;
  }
}
.is-style-about > .is-layout-grid {
  -moz-column-gap: 5.33vw;
       column-gap: 5.33vw;
  margin: 13.06vw 5.33vw 0 !important;
  font-family: "Lato", sans-serif;
}
@media screen and (min-width: 767px) {
  .is-style-about > .is-layout-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin: 6.94vw 2.08vw 0 !important;
    -moz-column-gap: 1.49vw;
         column-gap: 1.49vw;
  }
}
.is-style-about > .is-layout-grid figure {
  height: auto;
  width: 41.87vw;
  max-width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 767px) {
  .is-style-about > .is-layout-grid figure {
    width: 22.92vw;
  }
}
.is-style-about > .is-layout-grid figure img {
  transition: all 0.6s ease-out;
}
.is-style-about > .is-layout-grid figure p {
  font-size: 2.7vw;
  letter-spacing: -0.027vw !important;
  margin-top: 0.438rem;
  transition: all 0.6s ease-out;
}
@media screen and (min-width: 767px) {
  .is-style-about > .is-layout-grid figure p {
    font-size: 0.83vw;
    letter-spacing: -0.0083vw !important;
    margin-top: 0.625rem;
  }
}
.is-style-about > .is-layout-grid > div > div:hover img {
  transform: scale(1.25);
}
.is-style-about > .is-layout-grid > div > div:hover p {
  color: rgba(255, 255, 255, 0.5) !important;
}
.is-style-about:where(.wp-block-group.has-background) {
  padding: 0 !important;
}
.is-style-about > div:nth-child(6) > figure {
  opacity: 0;
}
@media screen and (min-width: 767px) {
  .is-style-about > div:nth-child(6) {
    display: flex;
    flex-direction: row-reverse;
    max-width: 100%;
    margin-top: 0;
  }
  .is-style-about > div:nth-child(6) > div:nth-child(1) {
    margin-left: 9.51vw !important;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .is-style-about > div:nth-child(6) > div:nth-child(1) > .is-style-section__text, .is-style-about > div:nth-child(6) > div:nth-child(1) > .is-style-section__text--tight {
    margin-left: 0px !important;
  }
  .is-style-about > div:nth-child(6) > figure {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0;
    height: 44.7vw;
    width: 41.2vw;
  }
  .is-style-about > div:nth-child(6) > figure > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .is-style-about > div:nth-child(6) > .is-style-spacer {
    display: none;
  }
}
.is-style-about .wp-block-column:first-child {
  flex-basis: auto !important;
}
.is-style-about .wp-block-column:last-child {
  flex-basis: auto !important;
  flex: 1 !important;
}

.is-style-feature {
  margin: 0 5.33vw;
}
.is-style-feature .wp-block-separator {
  border: solid 0.267vw #fff;
  margin-bottom: 5.3vw;
}
.is-style-feature .wp-block-separator:not(.is-style-wide), .is-style-feature .wp-block-separator:not(.is-style-dots) {
  width: 89vw;
}
.is-style-feature .wp-block-separator.has-background:not(.is-style-wide), .is-style-feature .wp-block-separator.has-background:not(.is-style-dots) {
  height: 0px;
}

.is-style-gallery {
  padding: 0 !important;
}
.is-style-gallery > div:nth-child(2) {
  margin: 0 5.33vw 8.5vw !important;
}
@media screen and (min-width: 767px) {
  .is-style-gallery > div:nth-child(2) {
    margin-bottom: 5.56vw !important;
    margin-left: 2.08vw !important;
  }
}
.is-style-gallery > div:nth-child(2) > h2 {
  font-size: 3.73vw;
}
@media screen and (min-width: 767px) {
  .is-style-gallery > div:nth-child(2) > h2 {
    font-size: clamp(0.625rem, 1.11vw, 1rem) !important;
  }
}
.is-style-gallery > .is-layout-grid {
  margin-left: 5.33vw !important;
  margin-right: 5.33vw !important;
}
@media screen and (min-width: 767px) {
  .is-style-gallery > .is-layout-grid {
    margin-left: 0 !important;
    margin-right: 0 !important;
    row-gap: 9.72vw;
  }
  .is-style-gallery > .is-layout-grid > figure {
    margin-bottom: 0 !important;
    opacity: 0;
  }
  .is-style-gallery > .is-layout-grid > figure:nth-child(1) {
    margin-left: 2.08vw;
    width: 31.04vw;
  }
  .is-style-gallery > .is-layout-grid > figure:nth-child(1) > img {
    width: 100%;
    aspect-ratio: 447/558;
  }
  .is-style-gallery > .is-layout-grid > figure:nth-child(2) {
    justify-self: right;
    width: 47.22vw;
    margin-right: 10.21vw;
  }
  .is-style-gallery > .is-layout-grid > figure:nth-child(2) > img {
    width: 100%;
    aspect-ratio: 680/476;
  }
  .is-style-gallery > .is-layout-grid > figure:nth-child(3) {
    width: 39.17vw;
    margin-left: 10.21vw;
  }
  .is-style-gallery > .is-layout-grid > figure:nth-child(3) > img {
    width: 100%;
    aspect-ratio: 564/747;
  }
  .is-style-gallery > .is-layout-grid > figure:nth-child(4) {
    justify-self: right;
    width: 47.22vw;
    margin-right: 10.21vw;
  }
  .is-style-gallery > .is-layout-grid > figure:nth-child(4) > img {
    width: 100%;
    aspect-ratio: 680/1019;
  }
  .is-style-gallery > .is-layout-grid > figure:nth-child(5) {
    justify-self: center;
    width: 100%;
  }
  .is-style-gallery > .is-layout-grid > figure:nth-child(5) > img {
    width: 100%;
    aspect-ratio: 1440/1203;
  }
}

.is-style-imagegroup__image {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10.1vw;
  margin-top: 16vw;
}
@media screen and (min-width: 767px) {
  .is-style-imagegroup__image {
    flex-direction: row;
    gap: 1.25rem;
    width: 95.83%;
    max-width: unset !important;
    margin-top: 6.875vw;
  }
}
@media screen and (min-width: 767px) {
  .is-style-imagegroup__image > div:nth-child(1) {
    flex-grow: unset !important;
    width: 31.04vw;
    height: 23.06vw;
  }
}
.is-style-imagegroup__image--before {
  text-align: start;
}
.is-style-imagegroup__image--small {
  opacity: 0;
}
@media screen and (min-width: 767px) {
  .is-style-imagegroup__image--small {
    width: 100%;
    height: auto;
  }
}
.is-style-imagegroup__image--small > img {
  width: 65.6vw;
  height: 48.8vw;
}
@media screen and (min-width: 767px) {
  .is-style-imagegroup__image--small > img {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 767px) {
  .is-style-imagegroup__image--after {
    width: 63.4vw;
    height: 47.57vw;
  }
}
.is-style-imagegroup__image--big {
  text-align: end;
  opacity: 0;
}
@media screen and (min-width: 767px) {
  .is-style-imagegroup__image--big {
    width: 100%;
    flex: unset !important;
  }
}
.is-style-imagegroup__image--big > img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 767px) {
  .is-style-imagegroup__image--big > img {
    height: auto;
    width: 100%;
  }
}

.is-style-section__title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 3.73vw;
  font-size: 3.73vw;
  text-transform: uppercase;
  margin-bottom: 4.27vw;
  transform: translateY(100%);
}
@media screen and (min-width: 767px) {
  .is-style-section__title {
    font-size: clamp(0.625rem, 1.11vw, 1rem);
    line-height: 1;
    margin-bottom: 1.39vw;
    margin-top: 0;
  }
}
.is-style-section__title-area {
  overflow: hidden;
  height: 3.73vw;
}
@media screen and (min-width: 767px) {
  .is-style-section__title-area {
    height: clamp(0.625rem, 1.11vw, 1rem);
    max-width: none !important;
  }
}
.is-style-section__lead {
  font-size: 6.4vw;
  font-weight: 500 !important;
  line-height: 9.6vw;
  transform: translateY(100%);
}
@media screen and (min-width: 767px) {
  .is-style-section__lead {
    font-size: clamp(0.625rem, 2.22vw, 2rem) !important;
    line-height: 1.5;
    letter-spacing: clamp(0.01rem, 0.089vw, 0.08rem);
  }
  .is-style-section__lead > br {
    display: none;
  }
}
.is-style-section__lead-area {
  overflow: hidden;
  height: 19.2vw;
}
@media screen and (min-width: 767px) {
  .is-style-section__lead-area {
    height: clamp(0.625rem, 3.33vw, 3rem) !important;
  }
}
.is-style-section__br {
  display: none;
}
@media screen and (min-width: 767px) {
  .is-style-section__br {
    display: block;
  }
}
@media screen and (min-width: 767px) {
  .is-style-section__br-none {
    display: none;
  }
}
.is-style-section__lead--lato {
  font-family: "Lato", sans-serif;
}
.is-style-section__text, .is-style-section__text--tight {
  font-weight: 400;
  font-size: 3.73vw;
  line-height: 6.72vw;
  margin-top: 3.73vw;
  letter-spacing: 0.027vw;
  opacity: 0;
}
@media screen and (min-width: 767px) {
  .is-style-section__text, .is-style-section__text--tight {
    font-size: clamp(0.625rem, 1.11vw, 1rem);
    line-height: 1.8;
    letter-spacing: clamp(0.01rem, 0.044vw, 0.04rem);
    margin-top: 2.08vw;
  }
}
.is-style-section__text--tight {
  letter-spacing: -0.133vw;
  margin-bottom: 20.3vw;
  opacity: 0;
}
@media screen and (min-width: 767px) {
  .is-style-section__text--tight {
    font-size: 1rem;
    margin-top: 1.875vw;
    margin-bottom: 7.43vw !important;
    letter-spacing: 0.04rem;
    line-height: 1.8;
  }
}

.is-style-emphasis {
  max-width: 100% !important;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 26.1vw;
  margin-bottom: 23.2vw;
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
          mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
}
@media screen and (min-width: 767px) {
  .is-style-emphasis {
    margin-top: 9.02vw;
    margin-bottom: 9.44vw;
  }
}
.is-style-emphasis > div {
  -webkit-animation: scroll-left 10s infinite linear 0.5s both;
          animation: scroll-left 10s infinite linear 0.5s both;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.is-style-emphasis__text {
  font-family: "Lato", sans-serif;
  font-size: 23.5vw;
  text-wrap: nowrap;
}
@media screen and (min-width: 767px) {
  .is-style-emphasis__text {
    font-size: 11.81vw;
  }
}

.is-style-group > hr {
  width: 89.07vw !important;
}
@media screen and (min-width: 767px) {
  .is-style-group > hr {
    width: 95.8vw !important;
    margin: 0;
  }
}

.is-style-spacer {
  height: 3.47vw !important;
}
.is-style-spacer__xlarge {
  height: 32.37vw;
}
@media screen and (min-width: 767px) {
  .is-style-spacer__xlarge {
    height: 9.72vw;
  }
}
.is-style-spacer__large {
  height: 21.3vw !important;
}
@media screen and (min-width: 767px) {
  .is-style-spacer__large {
    height: 8.47vw !important;
    margin-top: 0 !important;
  }
}
.is-style-spacer__top {
  height: 22.9vw;
}
@media screen and (min-width: 767px) {
  .is-style-spacer__top {
    height: 10.41vw;
  }
}
.is-style-spacer__top--small {
  height: 14.4vw;
}
.is-style-spacer__top--xsmall {
  height: 10.67vw !important;
}
@media screen and (min-width: 767px) {
  .is-style-spacer__top--xsmall {
    height: 6.94vw !important;
  }
}

.is-style-figure__columns {
  flex-direction: column;
}
.is-style-figure__columns:where(.wp-block-columns.is-layout-flex), .is-style-figure__columns:where(.is-layout-flex), .is-style-figure__columns:where(.wp-block-columns) {
  gap: 0;
  margin-bottom: 0;
}
.is-style-figure__columns > div:nth-child(2) p {
  font-size: 4.8vw;
}
@media screen and (min-width: 767px) {
  .is-style-figure__columns {
    flex-direction: row;
    width: 95.8vw;
    margin: 3.47vw auto 0;
  }
  .is-style-figure__columns > div {
    flex-basis: unset !important;
    flex-grow: unset !important;
  }
  .is-style-figure__columns > div:nth-child(1) {
    width: 20px;
  }
  .is-style-figure__columns > div:nth-child(1) p {
    letter-spacing: -0.00132rem;
    padding-top: 0.486vw;
  }
  .is-style-figure__columns > div:nth-child(2) {
    width: 32.4%;
    margin-left: 15.5%;
    margin-right: 9.93%;
  }
  .is-style-figure__columns > div:nth-child(2) p {
    width: 100%;
    font-size: clamp(1.36rem, 1.67vw, 1.5rem) !important;
    letter-spacing: 0.06rem;
    line-height: 1.4;
    padding-top: 0;
  }
  .is-style-figure__columns > div:nth-child(3) {
    width: 42%;
  }
}
.is-style-figure__columns .is-style-section__lead {
  padding-top: 2.67vw;
}
@media screen and (min-width: 767px) {
  .is-style-figure__columns .is-style-section__text, .is-style-figure__columns .is-style-section__text--tight {
    font-size: 1rem;
    margin-top: 0;
    line-height: 1.8;
    letter-spacing: 0.04rem;
  }
}
@media screen and (min-width: 767px) {
  .is-style-figure__columns img {
    width: 58.61%;
  }
}
.is-style-figure__column {
  display: flex;
  flex-direction: column;
}
.is-style-figure__column > .wp-block-media-text__content {
  padding: 0 !important;
}
.is-style-figure__column > figure {
  opacity: 0;
  padding: 6.7vw 0 9.07vw;
}
@media screen and (min-width: 767px) {
  .is-style-figure__column > figure {
    padding: 2.29vw 0 5.21vw;
  }
}

@media screen and (min-width: 767px) {
  .wp-block-cover {
    padding: 0 !important;
  }
}
.wp-block-cover__inner-container > div > .wp-block-group {
  margin-left: 2.08vw !important;
  margin-top: 0 !important;
}
@media screen and (min-width: 767px) {
  .wp-block-cover__inner-container > div > .is-style-figure__columns:nth-of-type(5) figure {
    padding-bottom: 0;
  }
}
.wp-block-cover__inner-container > div:last-child {
  display: block;
  height: 10.4vw !important;
}
@media screen and (min-width: 767px) {
  .wp-block-cover__inner-container > div:last-child {
    height: 10.42vw !important;
  }
}

.footer {
  transition: filter 1s ease-out;
  grid-column: 1/1;
  grid-row: 3/4;
  background-color: #101010;
  color: #fff;
}
.footer__inner {
  margin: 0 5.33vw;
}
@media screen and (min-width: 767px) {
  .footer__inner {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto;
    margin: 0 2.08vw 1.25rem 2.14vw;
  }
}
.footer__logo {
  margin-top: 12.26vw;
  margin-bottom: 13.35vw;
}
@media screen and (min-width: 767px) {
  .footer__logo {
    margin-top: 0;
    margin-bottom: 9.17vw;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 47.17vw;
  }
}
.footer__logo-image {
  width: 66.4vw;
}
@media screen and (min-width: 767px) {
  .footer__logo-image {
    aspect-ratio: 680/190;
    width: 100%;
  }
}
.footer__list {
  list-style: none;
}
@media screen and (min-width: 767px) {
  .footer__list {
    display: flex;
    width: 47.22vw;
    align-items: center;
    border-bottom: solid 1px #4b4b4b;
  }
  .footer__list h3 {
    width: 16.18vw;
  }
  .footer__list:nth-child(1) {
    padding-bottom: 2.08vw;
  }
  .footer__list:nth-child(2) {
    padding-top: 2.29vw;
    padding-bottom: 2.15vw;
  }
  .footer__list:nth-child(3) {
    padding-top: 2.7vw;
    padding-bottom: 2.22vw;
  }
}
@media screen and (min-width: 767px) {
  .footer__text-area {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
.footer__title {
  font-size: 3.73vw;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-weight: 700;
}
@media screen and (min-width: 767px) {
  .footer__title {
    font-size: 1.11vw;
  }
}
.footer__title--uppercase {
  text-transform: uppercase;
}
.footer__text {
  font-family: "Lato", sans-serif;
  font-size: 3.2vw;
}
@media screen and (min-width: 767px) {
  .footer__text {
    font-size: 1.11vw;
  }
}
.footer__nav--uppercase {
  text-transform: uppercase;
}
.footer__menulist {
  color: white;
  display: flex;
  gap: 5.07vw;
  font-size: 3.2vw;
}
@media screen and (min-width: 767px) {
  .footer__menulist {
    font-size: 1.11vw;
    gap: 1.31vw;
  }
}
.footer__menulist > li {
  text-align: center;
  position: relative;
  /*変形の時間*/
}
.footer__menulist > li:not(:first-child)::before {
  content: "ー";
  width: 0.8vw;
  position: absolute;
  left: -2.784vw;
  top: -1.3369vw;
  transform: rotate(107deg);
}
@media screen and (min-width: 767px) {
  .footer__menulist > li:not(:first-child)::before {
    left: -1vw;
    top: -0.18vw;
  }
}
.footer__menulist > li > a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  bottom: -1px; /*アンダーラインがaタグの下端から現れる*/
  transform: scale(0, 1); /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
  transform-origin: left top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
  transition: transform 0.6s;
}
.footer__menulist > li > a:hover::after {
  transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
}
.footer__title--small-margin {
  margin-bottom: 3.2vw;
}
@media screen and (min-width: 767px) {
  .footer__title--small-margin {
    margin-bottom: 0;
  }
}
.footer__sns--medium-padding, .footer__nav--medium-padding, .footer__text--medium-padding {
  padding-bottom: 6.13vw;
}
@media screen and (min-width: 767px) {
  .footer__sns--medium-padding, .footer__nav--medium-padding, .footer__text--medium-padding {
    padding-bottom: 0;
  }
}
.footer__title--small-padding {
  padding-top: 5.33vw;
}
@media screen and (min-width: 767px) {
  .footer__title--small-padding {
    padding-top: 0;
  }
}
.footer__sns--bottom-border, .footer__nav--bottom-border, .footer__text--bottom-border {
  border-bottom: solid 1px #4b4b4b;
}
@media screen and (min-width: 767px) {
  .footer__sns--bottom-border, .footer__nav--bottom-border, .footer__text--bottom-border {
    border-bottom: none;
  }
}
.footer__copyright-area {
  display: flex;
  margin-top: 6.4vw;
  margin-bottom: 7.73vw;
  justify-content: space-between;
}
@media screen and (min-width: 767px) {
  .footer__copyright-area {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-bottom: 0;
    margin-top: 6.042vw;
  }
}
.footer__copyright {
  display: flex;
  align-items: flex-end;
  font-family: "Lato", sans-serif;
  font-size: 3.2vw;
}
@media screen and (min-width: 767px) {
  .footer__copyright {
    display: block;
    font-size: 0.83vw;
  }
}
.footer__image-sp {
  width: 41.87vw;
}
@media screen and (min-width: 767px) {
  .footer__image-sp {
    display: none;
  }
}
.footer__image {
  display: none;
}
@media screen and (min-width: 767px) {
  .footer__image {
    display: block;
    grid-column: 2/3;
    grid-row: 1/4;
  }
}
.footer__image-pc {
  display: none;
}
@media screen and (min-width: 767px) {
  .footer__image-pc {
    display: block;
    width: 39.1vw;
    aspect-ratio: 563/646;
  }
}
@media screen and (min-width: 767px) {
  .footer__nav {
    display: none;
  }
}
.footer__nav-pc {
  display: none;
}
@media screen and (min-width: 767px) {
  .footer__nav-pc {
    display: block;
  }
}

.header {
  position: relative;
}
.header__mainvisual {
  width: 100%;
}
@media screen and (min-width: 767px) {
  .header__mainvisual {
    display: none;
  }
}
.header__mainvisual-pc {
  display: none;
}
@media screen and (min-width: 767px) {
  .header__mainvisual-pc {
    display: block;
    width: 100%;
  }
}
.header__logo {
  width: 8.8vw;
  height: 100%;
  vertical-align: baseline;
}
@media screen and (min-width: 767px) {
  .header__logo {
    width: clamp(3.3rem, 3.67vw, 4.43rem);
    vertical-align: middle;
  }
}
.header__title {
  text-transform: uppercase;
  padding-left: 5.33vw;
}
@media screen and (min-width: 767px) {
  .header__title {
    margin-left: 1.11vw;
    padding: 0;
  }
}
.header__nav {
  position: fixed;
  top: 4.2vw;
  z-index: 999;
}
@media screen and (min-width: 767px) {
  .header__nav {
    top: 0;
  }
}
.header__nav-titlearea {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  height: 11vw;
  background-color: #fff;
  position: absolute;
  top: 4.2vw;
  left: 2.66vw;
  align-items: center;
  z-index: 999;
  border: solid 1px #d7d7d7;
  border-bottom: none;
}
@media screen and (min-width: 767px) {
  .header__nav-titlearea {
    width: 95.7vw;
    height: clamp(52px, 3.82vw, 55px);
    font-size: clamp(0.725rem, 0.972vw, 0.875rem);
    top: 1.5rem;
    left: 2.08vw;
    border-bottom: solid 1px #d7d7d7;
  }
}
.header__navitem {
  display: none;
}
@media screen and (min-width: 767px) {
  .header__navitem {
    display: block;
    width: clamp(15.56rem, 20.69vw, 18.75rem);
  }
}
.header__navitem li a {
  position: relative;
  /*変形の時間*/
}
.header__navitem li a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #000000;
  bottom: -2px; /*アンダーラインがaタグの下端から現れる*/
  transform: scale(0, 1); /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
  transform-origin: left top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
  transition: transform 0.3s;
}
.header__navitem li a:hover::after {
  transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
}
.header__nav-button {
  display: none;
}
@media screen and (min-width: 767px) {
  .header__nav-button {
    display: block;
    font-size: clamp(0.725rem, 0.833vw, 0.75rem);
    width: clamp(6.75rem, 7.5vw, 6.8rem);
    height: 74.5%;
    border: solid 1px #d7d7d7;
    margin-right: 0.417vw;
    transition: all 0.6s ease-out;
  }
  .header__nav-button:hover {
    color: #fff;
    background-color: #222222;
  }
  .header__nav-button:hover .header__navitem-last::after {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg); /* 例: 白色に変更 */
  }
}
.header__navitem-last {
  display: none;
}
@media screen and (min-width: 767px) {
  .header__navitem-last {
    display: block;
    text-align: center;
    text-transform: uppercase;
  }
  .header__navitem-last::after {
    content: url("../picture/arrow.svg");
    display: inline;
    width: 0.54vw;
    height: 0.48vw;
    vertical-align: text-bottom;
    margin-left: 0.69vw;
    transition: filter 0.6s ease-out;
  }
}
@media screen and (min-width: 767px) {
  .header__menulist-pc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.39vw;
    text-transform: uppercase;
  }
}
.header__hamburger {
  display: block;
  content: "";
  width: 4.53vw;
  height: 4.53vw;
  right: 6.4vw;
  padding: 2.13vw 0;
  position: relative;
  cursor: pointer;
}
.header__hamburger:before {
  position: absolute;
  top: 1.47vw;
  height: 0.267vw;
  content: "";
  background-color: #222222;
  width: 4.53vw;
  transition: all 0.3s ease-out;
}
.header__hamburger:after {
  position: absolute;
  top: 2.6vw;
  height: 0.267vw;
  content: "";
  background-color: #222222;
  width: 4.53vw;
  transition: all 0.3s ease-out;
}
@media screen and (min-width: 767px) {
  .header__hamburger {
    display: none;
  }
}
.header__hamburger--active:before {
  top: 1.47vw;
  transform: rotate(45deg);
}
.header__hamburger--active:after {
  top: 1.47vw;
  transform: rotate(-45deg);
}
.header__drawer {
  width: 95vw;
  height: auto;
  background-color: #fff;
  position: absolute;
  top: 4.2vw;
  left: 2.66vw;
  align-items: center;
  padding-top: 11vw;
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s ease-out;
  border: solid 1px #d7d7d7;
}
.header__drawer > ul {
  width: 84vw;
  margin: 0 auto;
  padding-top: 3.47vw;
  -webkit-text-stroke: 0.5px #222222;
}
.header__drawer > ul > li {
  position: relative;
  height: 13.33vw;
  align-items: center;
  display: flex;
  border-bottom: 1px solid #d7d7d7;
}
.header__drawer > ul > li:last-child {
  margin-bottom: 7.73vw;
  border-bottom: none;
}
.header__drawer > ul > li:last-child > a:hover::after {
  transform: scale(0.9, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
}
.header__drawer > ul > li:last-child > a > span::after {
  content: "";
  display: inline-block;
  background-image: url(../picture/arrow.svg);
  width: 0;
  height: 3.5vw;
  margin-left: 2.6vw;
  background-repeat: no-repeat;
  background-size: 1.64vw;
  background-position-y: 80%;
  transition: width 1s 0.6s ease-out;
}
.header__drawer > ul > li:last-child > a > .js__menu-item.js__title-in::after {
  width: 4.66vw;
}
.header__drawer > ul > li > a {
  text-transform: uppercase;
  font-size: 3.73vw;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #222222;
  height: 5.06vw;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  /*変形の時間*/
}
.header__drawer > ul > li > a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #000000;
  bottom: 0px; /*アンダーラインがaタグの下端から現れる*/
  transform: scale(0, 1); /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
  transform-origin: left top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
  transition: transform 0.3s;
}
.header__drawer > ul > li > a:hover::after {
  transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
}
@media screen and (min-width: 767px) {
  .header__drawer {
    display: none;
  }
}
.header__drawer-open {
  max-height: 100vh;
}
.header__intro-area {
  transition: filter 1s ease-out;
}
.header__intro {
  height: 25.6vw;
  position: absolute;
  left: 6.1vw;
  top: 136.4vw;
}
@media screen and (min-width: 767px) {
  .header__intro {
    left: 2.08vw;
    height: 10.69vw;
    top: 40.625vw;
  }
}
.header__intro-title {
  font-size: 9.86vw;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  width: auto;
  letter-spacing: 0.21vw;
  line-height: 12.8vw;
  color: #fff;
}
@media screen and (min-width: 767px) {
  .header__intro-title {
    font-size: 4.44vw;
    letter-spacing: 0.177vw;
    line-height: 1.2;
    color: #fff;
    width: 100%;
  }
}
.header__intro--small {
  position: absolute;
  height: 11.2vw;
  left: 6vw;
  top: 168vw;
}
@media screen and (min-width: 767px) {
  .header__intro--small {
    height: 2.92vw;
    left: 2.08vw;
    top: 53.33vw;
  }
}
.header__intro-text {
  font-size: 3.7vw;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  color: #fff;
  line-height: 5.6vw;
  letter-spacing: -0.06vw;
  font-weight: 500;
}
@media screen and (min-width: 767px) {
  .header__intro-text {
    font-size: clamp(0.63rem, 0.972vw, 100rem);
    line-height: 1.5;
    letter-spacing: 0.0389vw;
    width: 100%;
  }
}
.header__scroll {
  display: flex;
  width: 6.94rem;
  height: 1.25rem;
  position: absolute;
  top: 200vw;
  left: 5.3vw;
  align-items: center;
  gap: 0.5rem;
}
@media screen and (min-width: 767px) {
  .header__scroll {
    left: auto;
    right: 2.125rem;
    top: 54.9vw;
  }
}
.header__scroll-dot {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.header__scroll-dot::after {
  content: "";
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background-color: #222222;
  position: absolute;
  top: var(--dot-top, 0.5rem);
  right: 0.5rem;
}
.header__scroll-text {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #fff;
  width: 5.19rem;
  line-height: 1;
  font-weight: 700;
}

.body__scroll-none {
  overflow: hidden;
}

@-webkit-keyframes inAnime {
  to {
    transform: translateY(0px);
  }
}

@keyframes inAnime {
  to {
    transform: translateY(0px);
  }
}
@-webkit-keyframes textAnime {
  to {
    opacity: 1;
  }
}
@keyframes textAnime {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes imageAnime {
  to {
    opacity: 1;
  }
}
@keyframes imageAnime {
  to {
    opacity: 1;
  }
}
.js__blur {
  filter: blur(5px);
}
.js__footer-image {
  opacity: 0;
}
.js__menu-item {
  transform: translateY(100%);
  display: inline-block;
}
.js__title-in {
  -webkit-animation: inAnime 1s 0.6s forwards ease-out;
          animation: inAnime 1s 0.6s forwards ease-out;
}
.js__text-appear {
  -webkit-animation: textAnime 0.5s 0.6s forwards ease-out;
          animation: textAnime 0.5s 0.6s forwards ease-out;
}
.js__image-appear {
  -webkit-animation: imageAnime 1.2s 1.8s forwards ease-out;
          animation: imageAnime 1.2s 1.8s forwards ease-out;
}
.js__image-appearfast {
  -webkit-animation: imageAnime 1.2s 0.8s forwards ease-out;
          animation: imageAnime 1.2s 0.8s forwards ease-out;
}

.js__menu-item.js__title-in::after {
  width: 4.66vw;
}

.loading {
  display: none;
}
@media screen and (min-width: 767px) {
  .loading {
    position: fixed;
    z-index: 99999;
    background: #fff;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease-out;
  }
  .loading.js__fade-out {
    opacity: 0;
    pointer-events: none;
  }
}
.loading__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7.3rem;
  gap: 1.39rem;
  height: 4.63rem;
}
.loading__img {
  width: 100%;
}
.loading__count {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
/*# sourceMappingURL=style.css.map */