@use "./global/index" as g;

.footer{
   transition: filter 1s ease-out;
   grid-column: 1/1;
   grid-row: 3/4;
   background-color: g.$gray;
   color: g.$white;
   &__inner{
     margin: 0 5.33vw;//20px
     @include g.pc{
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto auto auto;
      margin: 0 2.08vw 0 2.14vw;
      padding-bottom: 1.25rem;
      }
   }
   &__logo{
     padding-top: 12.26vw;//46px
     margin-bottom: 13.35vw;//50px
     @include g.pc{
      padding-top: 0;
      margin-top: 0;
      margin-bottom: 9.17vw;
         grid-column: 1/2;
         grid-row: 1/2;
         width: 47.17vw;//679px
     }
   }
   &__logo-image{
     width: 66.4vw;//249px
     @include g.pc{
      aspect-ratio: 680/190;
      width: 100%;
         
     }
   }
   &__list{
      list-style: none;
    @include g.pc{
        display: flex;
        width: 47.22vw;
        align-items: center;
        border-bottom: solid 1px g.$lightgray;
        h3{
          width: 16.18vw;
        }
        &:nth-child(1){
          padding-bottom: 2.08vw;
        }
        &:nth-child(2){
          padding-top: 2.29vw;
          padding-bottom: 2.15vw;
        }
        &:nth-child(3){
          padding-top: 2.70vw;
          padding-bottom: 2.22vw;
        }
    }
   }
   &__text-area{
    @include g.pc{
        grid-column: 1/2;
        grid-row: 2/3;
    }
   }
   &__title{
     font-size: 3.73vw;
     font-family: g.$fontLato;
     font-weight: 600;//Latoはセミボールドがないので、600で指定。環境依存になる。
     font-weight: 700;
     @include g.pc{
      font-size: 1.11vw;
     }
   }
   &__title--uppercase{
     text-transform: uppercase;
   }
   &__text{
     font-family: g.$fontLato;
     font-size: 3.2vw; //12px
     @include g.pc{
      font-size: 1.11vw;
     }
   }
   &__nav--uppercase{
     text-transform: uppercase;
   }
   &__menulist{
     font-family: g.$fontLato;
     color: white;
     display: flex;
     gap: 5.07vw;//19px
     font-size: 3.2vw;//12px
     @include g.pc{
      font-size: 1.11vw;
      gap: 1.31vw;//19px
     }
     >li{
        text-align: center;
        position: relative;
        &:not(:first-child)::before {
            content: "ー";
            width: 0.8vw;
            position: absolute;
            left: -2.784vw;
            top: -1.3369vw;
            transform: rotate(107deg);
            @include g.pc{
              left: -1vw;
              top: -0.18vw;
            }
        }
        >a::after {
          position: absolute;
          left: 0;
          content: '';
          width: 100%;
          height: 2px;
          background: g.$white;
          bottom: -1px;               /*アンダーラインがaタグの下端から現れる*/
          transform: scale(0, 1);     /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
          transform-origin: left top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
          transition: transform 0.6s;
        } /*変形の時間*/
        >a:hover::after {
          transform: scale(1, 1);     /*ホバー後、x軸方向に1（相対値）伸長*/
          }
    }
   }
   &__title--small-margin{
        margin-bottom: 3.2vw;
        @include g.pc{
            margin-bottom: 0;
        }
   }
   &__sns--medium-padding,
   &__nav--medium-padding,
   &__text--medium-padding{
        padding-bottom: 6.13vw;
        @include g.pc{
            padding-bottom: 0;
        }
   }
   &__title--small-padding{
        padding-top: 5.33vw;
        @include g.pc{
            padding-top: 0;
        }
   }
   &__sns--bottom-border,
   &__nav--bottom-border,
   &__text--bottom-border{
        border-bottom: solid 1px g.$lightgray;
        @include g.pc{
            border-bottom: none;
        }
   }
   &__copyright-area{
        display: flex;
        margin-top: 6.4vw;
        padding-bottom: 7.73vw;
        justify-content: space-between;
        @include g.pc{
            grid-column: 1/2;
            grid-row: 3/4;
            margin-bottom: 0;
            margin-top: 6.042vw;
            padding-bottom: 0;
        }
   }
   &__copyright{
        display: flex;
        align-items: flex-end;
        font-family: g.$fontLato;
        font-size: 3.2vw; //12px
        @include g.pc{
            display: block;
            font-size: 0.83vw;
        }
   }
   &__image-sp{
        width: 41.87vw;
        @include g.pc{
            display: none;
        }
   }
   &__image{
        display: none;
        @include g.pc{
            display: block;
            grid-column: 2/3;
            grid-row: 1/4;
        }
   }
   &__image-pc{
        display: none;
        @include g.pc{
              display: block;
              width: 39.1vw;
              aspect-ratio: 563/646;
        }
   }
   &__nav{
    @include g.pc{
        display: none;
    }
   }
   &__nav-pc{
    display: none;
    @include g.pc{
        display: block;
    }
   }
}