@use "./global/index" as g;

.footer{
   grid-column: 1/1;
   grid-row: 3/4;
   background-color: g.$gray;
   color: g.$white;
   &__inner{
       margin: 0 5.33vw;//20px
   }
   &__logo--sp{
     margin-top: 12.26vw;//46px
     margin-bottom: 13.35vw;//50px
   }
   &__logo-image--sp{
     width: 66.4vw;//249px
   }
   &__title{
    font-size: 3.73vw;
    font-family: g.$fontLato;
    font-weight: 600;//Latoはセミボールドがないので、600で指定。環境依存になる。
    font-weight: 700;
   }
   &__title--uppercase{
     text-transform: uppercase;
   }
   &__text{
    font-family: g.$fontLato;
    font-size: 3.2vw; //12px
   }
   &__nav--uppercase{
     text-transform: uppercase;
   }
   &__menulist{
    color: white;
    display: flex;
    gap: 5.07vw;//19px
    font-size: 3.2vw;//12px
    >li{
        text-align: center;
        position: relative;
        &:not(:first-child)::before {
            content: "ー";
            width: 0.8vw;
            position: absolute;
            left: -2.784vw;
            top: -1.3369vw;
            transform: rotate(107deg);
        }
    }
   }
   &__title--small-margin{
        margin-bottom: 3.2vw;
   }
   &__sns--medium-padding,
   &__nav--medium-padding,
   &__text--medium-padding{
        padding-bottom: 6.13vw;
   }
   &__title--small-padding{
        padding-top: 5.33vw;
   }
   &__sns--bottom-border,
   &__nav--bottom-border,
   &__text--bottom-border{
        border-bottom: solid 1px g.$lightgray;
   }
   &__flex{
        display: flex;
        margin-top: 6.4vw;
        margin-bottom: 7.73vw;
        justify-content: space-between;
   }
   &__copyright{
        display: flex;
        align-items: flex-end;
        font-family: g.$fontLato;
        font-size: 3.2vw; //12px
   }
   &__image--sp{
        width: 41.87vw;
   }
}